.row-fluid
  .span12
    %h3 공지사항
    .title-bar-thin
    .title-bar-thick
.row-fluid
  .span2
  .span8
    .square-box
      .square-box-title
        %span 공지공지공지사항
        .square-box-title-right
	  %span 2013-07-13, 김교수
          
  .span2
