.row-fluid
  .span12
    %h4 결과 종합

.row-fluid
  .span12
    .subject-title
      %h4 1. 하노이의 탑
      %h4 총점 : 50점
    .problems
      .problem
        .title
          %h5 1) 재귀함수 구현
        .table
          %table.table.table-striped
            %thead
              %tr
                %th #
                %th 제출상태
                %th 제출일시
                %th 소요시간(msec)
                %th 메모리사용량(Byte)
                %th 점수
                %th 자세히 보기
            %tbody
              %tr
                %td 1
                %td 성공
                %td 2013년 7월 1일 11시 55분
                %td 1131
                %td 1594
                %td 100
                %td
                  %a.btn.btn-primary.btn-mini{ href: "#" } 아
      .problem
        .title
          %h5 2) 재귀함수 구현
        .table
          %table.table.table-striped
            %thead
              %tr
                %th #
                %th 제출상태
                %th 제출일시
                %th 소요시간(msec)
                %th 메모리사용량(Byte)
                %th 점수
                %th 자세히 보기
            %tbody
              %tr
                %td 1
                %td 성공
                %td 2013년 7월 1일 11시 55분
                %td 1131
                %td 1594
                %td 100
                %td
                  %a.btn.btn-primary.btn-mini{ href: "#" } 아