.row-fluid
  .span6
    .choose-subject
      %span 과제선택
      .btn-group
        %a.btn{ href: "#" } 1. 하노이의 탑
        %a.btn.dropdown-toggle{ href: "#", data: { toggle: "dropdown" } }
          %span.caret
        %ul.dropdown-menu
          %li
            %a{ href: "#" } 1. 하노이의 탑
          %li
            %a{ href: "#" } 2. 다이나믹 프로그래밍
          %li
            %a{ href: "#" } 3. 그래프 알고리즘
    .about-subject
      %p 1. 하노이의 탑
      %p 제출기한 : 2013년 7월 1일 ~ 2013년 7월 5일
      %a.btn.btn-primary{ href: "#" } 설명보기
      
  .span6
    .choose-problem
      %span 문제선택
      .btn-group
        %a.btn{ href: "#" } 1) 재귀함수 만들기
        %a.btn.dropdown-toggle{ href: "#", data: { toggle: "dropdown" } }
          %span.caret
        %ul.dropdown-menu
          %li
            %a{ href: "#" } 1) 재귀함수 만들기
          %li
            %a{ href: "#" } 2) 입력 고정
          %li
            %a{ href: "#" } 3) 입력 임의
    .about-problem
      %p 1) 재귀함수를 이용하여 하노이의 탑을 풀어라.
      %p 하노이의 탑을 재귀함수를 이용하여 풀어라. 입력값은 3, 4, 5이고, 출력값은 다음과 같아야 한다...
      
.row-fluid
  .span12
    

            