.row-fluid
  .span6
    %span 1. 하노이의 탑, 1) 재귀 함수 만들기
    %h3 제출 결과

.row-fluid
  .span6
    %p 입력값
    %pre.prettyprint.linenums
      15
  .span6
    %p 결과 
    %dl.dl-horizontal
      %dt 제출 시간
      %dd 2013년 6월 13일 11시 25분
      %dt 채점 상태
      %dd 성공
      %dt 메모리 사용량
      %dd 100kb
      %dt 걸린 시간
      %dd 24 hours
    %h4 총점 : 25점(100점 만점)
    
.row-fluid
  .span6
    %span 모범 답안
    %pre.prettyprint.linenums
      1, 2, 3
  .span6
    %span 결과 답안
    %pre.prettyprint.linenums
      1, 2, 3
  
.row-fluid
  .span12
    %p 오류 시 컴파일 에러 출력
    .hero-unit