.row-fluid
  .span12
    .box
      .box-header
        %h2 수강중인 과목
      .box-body
        %table.table.table-striped
          %thead
            %tr
              %th
                %span 과목명
              %th
                %span 교수명
              %th
                %span 새공지사항
              %th
                %span 비고
          %tbody
            %tr
              %td
                %span C언어
              %td
                %span 김교수님
              %td
                %span 3
              %td
                %button.btn.btn-small
                  바로가기
            %tr
              %td
                %span 자바 
              %td
                %span 이교수님
              %td
                %span 3
              %td
                %button.btn.btn-small
                  바로가기
            %tr
              %td
                %span Python
              %td
                %span 박교수님
              %td
                %span 3
              %td
                %button.btn.btn-small
                  바로가기
    .box
      .box-header
        %h2 진행중인 과제
      .box-body
        %table.table.table-striped
          %thead
            %tr
              %th
                %span 과제명
              %th
                %span 과목
              %th
                %span 제출기한
              %th
                %span 비고
          %tbody      
            %tr
              %td
                %span 하노이탑
              %td
                %span 알고리즘
              %td
                %span 2013/9/8 24:00
              %td
                %button.btn.btn-small
                  바로가기
            %tr
              %td
                %span Btree
              %td
                %span 자료구조
              %td
                %span 2013/8/31 24:00
              %td
                %button.btn.btn-small
                  바로가기 
    .box
      .box-header
        %h4 완료한 과제
      .box-body
        %table.table.table-striped
          %thead
            %tr
              %th
                %span 과제명
              %th
                %span 과목
              %th
                %span 제출기한
              %th
                %span 비고
          %tbody
            %tr
              %td
                %span 버블정렬 
              %td
                %span 알고리즘
              %td
                %span 2013/9/8 24:00
              %td
                %button.btn.btn-small
                  바로가기
