.row-fluid#students-show
  .span12
    %h3 학생 정보
    .margin
    %h4 개인정보
    .bar
    %p 이    름 : 김창환
    %p 학    번 : 2006012953
    %p 이 메 일 : darkzin1021@gmail.com
    %p 전화번호 : 010 - 6628 - 7256
    .margin
    %h4 듣고있는 수업
    .bar
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th
            %span 과목명
          %th
            %span 교수명
          %th
            %span 연도
          %th
            %span 학기
          
      %tbody
        %tr
          %td
            %span C언어
          %td
            %span 김봉봉
          %td
            %span 2013
          %td
            %span 1
        %tr
          %td
            %span C언어
          %td
            %span 김봉봉
          %td
            %span 2013
          %td
            %span 1
        %tr
          %td
            %span C언어
          %td
            %span 김봉봉
          %td
            %span 2013
          %td
            %span 1
