.row-fluid#students-show
  .span12
    %h2 학생 정보
    .box
      .box-header
        %h3
          개인정보
          /= link_to '계정 삭제', "#", class: "btn btn-danger pull-right"
      .box-body
        %h4 이    름 : 김창환
        %h4 학    번 : 2006012953
        %h4 이 메 일 : darkzin1021@gmail.com
        %h4 전화번호 : 010 - 6628 - 7256

    %h2 듣고있는 수업
    %table.table.table-striped
      %thead
        %tr
          %th
            %span 과목명
          %th
            %span 교수명
          %th
            %span 연도
          %th
            %span 학기
          
      %tbody
        %tr
          %td
            %span C언어
          %td
            %span 김봉봉
          %td
            %span 2013
          %td
            %span 1
        %tr
          %td
            %span C언어
          %td
            %span 김봉봉
          %td
            %span 2013
          %td
            %span 1
        %tr
          %td
            %span C언어
          %td
            %span 김봉봉
          %td
            %span 2013
          %td
            %span 1