.row-fluid.devise_common
  .span12
    %h3 메일 확인
    .title-bar-thin
    .title-bar-thick
.row-fluid.devise_common
  .span3
  .span6
    .fields-box
      .div-width300
        .field
          = @email + "메일을 확인합니다"
        .field
          %p 아래 링크를 통해 메일 확인을 하실 수 있습니다.
        .field
          = link_to '계정 메일 확인', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token), class: 'btn btn-primary a-white'
