.row-fluid
  .span3
    %ul.nav.nav-tabs.nav-stacked
      %li.active
        %a 1. 하노이의 탑
      %li
        %a 2. 그래프 구현
      %li
        %a 3. 다이나믹 프로그래밍을 한번 해보자
      %li.disabled
        %a{ href: "#" } 4. 뽀로로 뽀로로
  .span9
    .title
      %p 하노이의 탑
    .date
      %p 제출기한 : 2013년 7월 1일 ~ 2013년 7월 5일
    .about
      %p 이번과제는 하노이의 탑입니다. 숫자를 입력 받으면 하노이의 탑이 뾰뾰뿅!!
    .files
      %p 관련 파일
      %ul
        %li
          %span 뼈대 파일
          %a.btn.btn-primary.pull-right{ href: "#" }  내려받기
        %li
          %span 뼈대 파일
          %a.btn.btn-primary.pull-right{ href: "#" }  내려받기
        %li
          %span 뼈대 파일
          %a.btn.btn-primary.pull-right{ href: "#" }  내려받기
    .problems
      %p 문제
      %ul
        %li
          %span 1) 입력은 고정된 값, 출력을 옮게.
          %a.btn.btn-danger.pull-right{ href: "#" }  제출하기
        %li
          %span 2) 입력을 사용자에게 받음, 출력을 옮게.
          %a.btn.btn-danger.pull-right{ href: "#" }  제출하기
        %li
          %span 3) 위의 문제를 재귀함수를 통해 구현.
          %a.btn.btn-danger.pull-right{ href: "#" }  제출하기
    .box
      .box-header
        %h3.box-title 과제 설명
      .box-body
        %p 설명입니다.