// Place all the styles related to the assignments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#assignments-index{
  .title{
    font-size:1.3em;
    font-weight:bold;
    margin:5px;
  }
  #result-meta-box{
    padding:5px;
  }

  #input-data-box{
    width:95%;
    min-height:200px;
    resize:none;
 }
  #compile-message-box{
    width:97.5%;
    min-height:200px;
    resize:none;
 }

  #result-box{
    width:95%;
    min-height:200px;
    resize:none;
 }

  #sample-box{
    width:95%;
    min-height:200px;
    resize:none;
 }
}
