// Place all the styles related to the assignments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.assignments{
  .title{
    font-size:1.2em;
    font-weight:bold;
    margin:5px;
  }
  #result-meta-box{
    padding:5px;
  }

  #input-data-box{
    min-width:97%;
    min-height:215px;
    //resize:none;
 }
  #compile-message-box{
    min-width:98.5%;
    min-height:200px;
    //resize:none;
 }

  #result-box{
    min-width:97%;
    min-height:200px;
    //resize:none;
 }

  #sample-box{
    width:97%;
    min-height:200px;
    //resize:none;
 }

 table{
   th{
     text-align:center;
   }
   td{
     text-align:center;
   }
 }
}
