// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.courses-list{
  margin-bottom: 25px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;


}

.notice-title{
  border-bottom: 1px solid #e7e7e7;

  .title{
    font-size:1.2em;
    font-weight:bold;
  }
  .date{
    float:right;
  }
}

.notice-detail{
  clear:both;
}
