<p>안녕하세요, <%= @resource.name %>님!</p>

<p>한양대 과제 제출 서비스의 <%= @resource.name %>님 계정에 대한 비밀번호 변경이 요청되어 본 메일이 발신되었습니다. 비밀 번호 변경은 아래 링크를 통해 하실 수 있습니다.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>만약 본인이 비밀번호 요청을 하신것이 아니라면 본 메일을 무시하시면 됩니다.</p>
<p>위의 링크로 들어가 비밀번호를 변경하기 전까지 아무런 변경도 없을 것입니다.</p>
